<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>디자이너 모음</h1>
    <h3><a href = "{% url 'new' %}">디자이너 등록</a></h3>

    <hr>
    {% for info in designer_infos %}
    <div>
        


        
        {% if info.cover_image %}
        <img src = {{info.cover_image.url}} style="width: 100px;">
        {% endif %}
        


        <div>
            이름 : {{info.name}}
        </div>
        <div>
            성향1 : {{info.get_personerity_pick_1_display}}, 
            {{info.get_personerity_pick_2_display}},
            {{info.get_personerity_pick_3_display}}
        </div>
        <div>
            소개 : {{info.introduce}}
            <a href = "{%url 'detail' info.id %}">디자이너 상세</a>
        </div>
        <hr>
    </div>
   
    {% endfor %}

    

</body>
</html>