<h1>디자이너 등록(상세페이지 수정)</h1>
<!-- enctype="multipart/form-data" -->
<form action="{% url 'create' %}" method="post" enctype="multipart/form-data">
    {%csrf_token%}
    
    커버사진 : <input type="file" name = "cover">

    <p>이름: <input type="text" name = "name"></p>
    <p><성향></p>
    <select name="personerity_1" multiple size="9" required autofocus>
        <option value="1">시간엄수</option>
        <option value="2">소통</option>
        <option value="3">친화력</option>
        <option value="4">협업</option>
        <option value="5">아이디어</option>
        <option value="6">기획</option>
        <option value="7">노력</option>
        <option value="8">인내</option>
        <option value="9">열정</option>
    </select>
    <select name="personerity_2" multiple size="9" required autofocus>
        <option value="1">시간엄수</option>
        <option value="2">소통</option>
        <option value="3">친화력</option>
        <option value="4">협업</option>
        <option value="5">아이디어</option>
        <option value="6">기획</option>
        <option value="7">노력</option>
        <option value="8">인내</option>
        <option value="9">열정</option>
    </select>
    <select name="personerity_3" multiple size="9" required autofocus>
        <option value="1">시간엄수</option>
        <option value="2">소통</option>
        <option value="3">친화력</option>
        <option value="4">협업</option>
        <option value="5">아이디어</option>
        <option value="6">기획</option>
        <option value="7">노력</option>
        <option value="8">인내</option>
        <option value="9">열정</option>
    </select>
    <br> 
    <p>intro</p>
    <textarea name="introduce" id="" cols="30" row="100"></textarea>
    <button type="submit">submit</button>
    <p><a href = "{% url 'designer_home' %}">디자이너 홈</a></p>
</form>